@page "/products"


<h3>ProductList</h3>
<br />

<SearchProductComponent OnSearchProduct="OnProductSearch"></SearchProductComponent>
<br />
<ProductListComponent SearchTerm="@searchTerm"></ProductListComponent>


@code {

	private string searchTerm=string.Empty;
	private void OnProductSearch(string searchTerm)
	{
		this.searchTerm = searchTerm;
	}
}
